# ==========================================
# ÉDITEURS DE CODE (IDE)
# ==========================================
.idea/
.vscode/
*.iml
*.iws
*.ipr
*.ipr

# ==========================================
# SYSTÈME D'EXPLOITATION
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# ENVIRONNEMENT & SECRETS GLOBAUX
# ==========================================
.env
docker-compose.override.yml